@use './variables.scss' as *;

@mixin red-button {
    width: 150px;
    text-transform: uppercase;
    background-color: $secondary-color;
    color: white;
    border-style: none;
    padding: 10px;
    font-weight: bold;
    margin: 20px 0;
}

@mixin blue-button {
    width: 150px;
    text-transform: uppercase;

    background-color: $primary-color;
    color: white;
    border-style: none;
    padding: 10px;
    font-weight: bold;
    margin: 20px 0;
}


@mixin subtitle {
    font-size: 60px;
}